.slick-slider {
  width: 100%;
  margin: 0;
}

.rg-carousel-unconstrained {
  max-width: none !important;
}

.slick-track {
  align-items: stretch !important;
}

.slick-slide > div,
.slick-slide > div > div {
  height: 100%;
}
